apiVersion: apps/v1
kind: Deployment
metadata:
  name: weather-ml-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: weather-ml-app
  template:
    metadata:
      labels:
        app: weather-ml-app
    spec:
      containers:
      - name: weather-ml-app
        image: bbipinn/weather-ml-app:latest
        ports:
        - containerPort: 5000
